{% extends 'blog/base.html' %}


{% block lift %}

{% for article in articles %}
<article class="post post-1">
    <header class="entry-header">
        <h1 class="entry-title">
            <a href="{% url 'blog:single' article.id%}">{{article.title}}</a>
        </h1>
        <div class="entry-meta">
            <span class="post-category"><a href="#">{{article.sort_id}}</a></span>
            <span class="post-date"><a href="#"><time class="entry-date"
                                                      datetime="{{article.create_time}}">{{article.create_time}}</time></a></span>
            <span class="post-author"><a href="#">{{article.author}}</a></span>
            <span class="comments-link"><a href="#">{{article.comment_set.all.count}} 评论</a></span>
            <span class="views-count"><a href="#">{{article.reads}} 阅读</a></span>
        </div>
    </header>
    <div class="entry-content clearfix">
        <p>{{article.summany|safe}}</p>
        <div class="read-more cl-effect-14">
            <a href="{% url 'blog:single' article.id%}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
        </div>
    </div>
</article>
{% empty %}
    <span>kong</span>
{% endfor %}

<div id="pagination">
    <ul id="pagination-flickr">
    {% if articles.has_previous %}
        <li class="previous"><a href="?page={{ articles.previous_page_number }}">&laquo;上一页</a>
    {% endif %}
        {{ articles.number }}/{{ articles.paginator.num_pages }}
    {% if articles.has_next %}
        <a href="?page={{ articles.next_page_number }}">下一页 &raquo;</a></li>
    {% endif %}
   </ul>
</div>

{% endblock %}
